<html>
  <body>
    <p><%= question %></p>
    <form action="/question/<%= index %>" method="POST">
      <input type="text" name="answer">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
